@import "./css/style.css";
@import "./css/font-icons.css";
@import "./css/responsive.css";

@import "./css/plugins.css";
/* @import "./css/style.css.map"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.card {
  @apply block border border-gray-200 rounded-lg shadow-md;
}

.primary-button {
  @apply px-4 py-2 bg-green-500 rounded shadow outline-none hover:bg-green-300 active:bg-green-500;
}
